.ci
.dockerignore
.editorconfig
.env
.git
.gitattributes
.gitignore
.htaccess
.idea
.php-version
.travis.yml
*.md
*.txt

db/*.sql
db/*.sqlite
db/*.sqlite3

resources/boxfile.yml
resources/Dockerfile

tests/_output/*.*

var/cache/*/*.*
var/logs/*.*
