.ci
.dockerignore
.editorconfig
.env
.git
.gitattributes
.gitignore
.htaccess
.idea
.php-version
.travis.yml
*.md
*.txt

vendor
composer.lock

var/*.sqlite
var/*.sqlite3
tests/_output/*.*
var/cache/*/*.*
var/logs/*.*
