language: php

php:
  - '7.3'
  - '7.2'

dist: bionic

services:
  - mysql

env:
  global:
    - PHALCON_VERSION=v4.0.0-beta.2
    - DB_NAME=vokuro_test

cache:
  timeout: 604800
  directories:
    - ${HOME}/.composer/cache

before_install:
  - git config --global advice.detachedHead false

install:
  - pecl install --force psr
  - .ci/install-phalcon.sh

before_script:
  - mysql -e 'CREATE DATABASE IF NOT EXISTS vokuro_test CHARSET=utf8 COLLATE=utf8_unicode_ci;'
  - php -S 127.0.0.1:8888 -t public/ .htrouter.php &
  - travis_retry composer install --no-interaction --no-ansi --no-progress --no-suggest
  - cp .env.example .env

script:
  - vendor/bin/phinx migrate -e testing
  - vendor/bin/phinx seed:run -e testing
  - vendor/bin/codecept build --quiet
  - vendor/bin/codecept run
  - vendor/bin/psalm --show-info=false

notifications:
  email: false
