parameters:
    level: 5
    paths:
        - src
    bootstrapFiles:
        - %rootDir%/../../../vendor/autoload.php
    ignoreErrors:
        - '#Parameter \#1 \$eventsManager of method Phalcon#'
    reportUnmatchedIgnoredErrors: false
