.custom-bg-dark {
    background: #d44413;
}

.oi {
    font-size: 70%;
    top: -1px !important;
}

footer {
    background: url("../img/feature-gradient.png") no-repeat scroll center 100% white;
    color: #B7B7B7;
    font-size: 12px;
    padding: 30px 0;
    text-align: center;
}

footer a {
	margin-left: 10px;
	margin-right: 10px;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
